.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.filter-options {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-top: 20px; /* Adjust margin as needed */
}

.filter-list {
	display: flex;
  flex-direction: column;
  text-align: center;
}

input[type="text"] {
  padding: 8px;
  margin-left: 5px; /* Adjust the margin as needed */
}

#dropdown-basic {
  margin-right: 25px; /* Adjust the margin as needed */
}

.filter-options.column-view {
  flex-direction: column;
}

.filter-options input {
  margin-left: 10px; /* Add margin between dropdown and input */
}

.filter-options.column-view .dropdown-menu {
  margin-top: 10px; /* Adjust the margin as needed */
}

/* Optional: Add some styles for the List component items */
.filter-list ol {
  list-style-type: none;
  padding: 0;
}

.filter-list ol li {
  margin-bottom: 10px;
}
