body {
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  text-align: center;
}

.App-logo {
  height: 80px;
  width: auto;
  pointer-events: none;
  animation: App-logo-spin infinite 20s linear;
}

@media (prefers-reduced-motion: reduce) {
  .App-logo {
    animation: none;
  }
}

.App-header {
  background-color: #35424a; /* Updated background color */
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(14px + 2vmin); /* Increased font size */
  color: #fff; /* Updated text color */
}

.App-link {
  color: #61dafb;
}

.filter-options {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}

.filter-list {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-left: 20px;
}

input[type="text"] {
  padding: 10px;
  margin-right: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
}

#dropdown-basic {
  margin-right: 25px;
}

.filter-options.column-view input {
  margin-left: 0;
}

.filter-options.column-view .dropdown-menu {
  margin-top: 10px;
}

.filter-list ol {
  list-style-type: none;
  padding: 0;
}

.filter-list ol li {
  margin-bottom: 10px;
  background-color: #fff;
  padding: 15px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s ease;
}

.filter-list ol li:hover {
  background-color: #f0f0f0;
}
